.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-end;
}

.right-section p {
    margin: 5px 0;
}

.right-section .spacer {
    margin-right: 8rem;
}

.icon {
    display: inline-block;
    font-size: 42px;
    margin-right: 8px;
    color: #f38506;
}

.application-name {
    display: inline-block;
    color: #f38506;
}

.answered-questions {
    text-align: center;
}

.answered-questions-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8rem;
}

.answered-questions-count {
    font-size: 24px;
    font-weight: bold;
    color: #01a7da;
}

.exam-timing {
    text-align: center;
}

.exam-timing-title {
    font-size: 20px;
    font-weight: bold;
}

.label {
    font-size: 12px;
}

.countdown-container {
    display: flex;
}

.countdown-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
}

.countdown-label {
    font-size: 12px;
}

.countdown-value {
    font-size: 24px;
}
