.inputField {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    outline: none;   
}

.btn{
    display: flex;
    margin-left: 60%;
}

.boxtitle {
    font-size: x-large;
    font-weight: 550;
    color: #144358;
    margin-left: 5%;
}

.form{
    margin-left: 4%;
}

.errormsg{
    color: red;
    
}