.card {
    box-shadow: 2px 2px 5px -2px #717171;
    border-radius: 15px;
    padding-bottom: 5%;
    
}

.boxtitle {
    font-size: x-large;
    font-weight: 550;
    color: #144358;
    margin-left: 5%;
}