.card {
    /* box-shadow: 2px 2px 5px -2px #717171; */
    /* border-radius: 15px; */
    /* padding-bottom: 5%; */
    font-size: 13px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    line-height: 20px;
    padding: 10px 20px;
    
    width: 20%;
    
}

.boxtitle {
    font-size: x-large;
    font-weight: 550;
    color: #144358;
    margin-left: 275px;
}
.card2 {
    width: 20%;
    height: 10%;
}