.inputField {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    outline: none;
    
    width:100%
}
.inputName{
    display:flex;
    justify-content: center;
}
