.cardshadow{
    box-shadow: 2px 2px 5px -2px #717171;
}

.boxtitle {
    font-size: 16px;
     font-weight: 700;
     color:#144358;
    }
    
.gap{
    
    padding-bottom: 5px;
}
.ulcard{padding: 0px;}
.ulcard li{
    padding-left: 15px;
    list-style: none;
    }
 .cardrow{
        padding: 20px 0px 0px 0px;
    }
 .cardrow1{
        padding: 20px 0px 50px 0px;
    }