*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#ecf0f5;
}




/* h1{
    color: red;
    text-align: center;
} */
.fa-solid{
    width: 25px;
}
/* ul li:hover a{
    background-color: #88b4ba;
} */

.fa-bars{
    padding-left: 80px;
}

.margin1{
    margin:1rem !important;
}

.mynavbar{
    margin: 0rem 0rem 0rem 0.5rem !important;
}
.dashboard{
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #144358;
}
.card{
    margin-top: -10px;
}

/* new */


.dashboard{
    margin: 10px 0px 10px 0px;
    
}
.card-row{
    padding: 20px 0px 0px 0px;
}
.card-row1{
    padding: 20px 0px 50px 0px;
}
.back{
   background-color:  #ecf0f5;
   padding-left:0px;
}
.profile{
    float: right;
}

.headerleft{
    font-size: 20px;
    color: white;
    
   
    background: #144358 ;
    user-select: none;
    text-transform: uppercase;
   
    font-weight: bold;
    border-bottom: solid #f0f3f6;
}
.rowhead{
    padding-top: 15px;
    
}
.iconhead{
    padding-right: 15px;
    padding-top: 5px;
    float: right;
    padding-left: 35px;
   
}
.menucontainer{
    padding: 0px 0px 0px 0px;
}


.menucontainer li{
    list-style: none;
    padding: 15px 15px 15px 15px;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    /* border-top: 3px solid rgba(255, 255, 255, .1); */
}
li a i{
    margin-right: 10px;
}
.menucontainer li:hover {
    background-color: #88b4ba;
}
.menucontainer li a:hover{
    color: white;
    text-decoration: none;
}

.headeruserName {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #144358;
    
}
.headeruserRole{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    
}
.nameDesign {
    float: left;
    line-height: 20px;
    
}
.ul-card li{
padding-left: 15px;
list-style: none;
}
.ulb li{
    list-style: none; 
    display: inline-block;
    vertical-align: top;
    
}
.ulb{
    padding-left: 10px;
    border-left: 1px solid black ;
}
.yashimage{
   padding-top:0px;
   
}
.yashimage img{
    margin-top: -15px;
}
.imageRole{
    margin-left: 5px;
}
.card{
    box-shadow: 2px 2px 5px -2px #717171;
}
/* cardheader styling */
.box-title {
    font-size: 16px;
     font-weight: 550;
     color:#144358;
    }
    
.gap{
    
    padding-bottom: 5px;
}
@media only screen and(max-width: 576px){
    
        }

   @media only screen and (max-width: 992px){
    .sam{
        width:100%;
        /* height:58px; */
    }
    /* .sam .icon-head{
        display:none
    }
    .sam li{
        display:none;
    } */
   }