.dropdown-toggle .btn{
    background-color: #144358;
    color:white;
    padding-top: 0px;
    padding-bottom: 0px;

    padding-left: 3px;
    font-size: small;  
}
.dropdown-toggle:hover .btn{
    background-color: #88b4ba
}
.dropdown-toggle .dropend{
    display: none;

} 
 .dropdown-toggle::after{

    border: none;
}
.dropdown-menu.show {
    background-color:  #88b4ba;
    
}
