.fa-solid{
    width: 25px;
}
/* ul li:hover a{
    background-color: #88b4ba;
} */

.fa-bars{
    padding-left: 80px;
}

.margin1{
    margin:1rem !important;
}

.mynavbar{
    margin: 0rem 0rem 0rem 0.5rem !important;
}
.dashboard{
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #144358;
}
.card{
    margin-top: -10px;
}

/* new */


.dashboard{
    margin: 10px 0px 10px 0px;
    
}
.card-row{
    padding: 20px 0px 0px 0px;
}
.card-row1{
    padding: 20px 0px 50px 0px;
}
.back{
   background-color:  #ecf0f5;
   padding-left:0px;
}
.profile{
    float: right;
}

.headerleft{
    font-size: 20px;
    color: white;
    
   
    background: #144358 ;
    user-select: none;
    text-transform: uppercase;
   
    font-weight: bold;
    border-bottom: solid #f0f3f6;
}
.rowhead{
    padding-top: 15px;
    
    
}
.iconhead{
    padding: 5px 0px 0px 35px;
    float: right;
    height: 46px;
   
}
.menucontainer{
    padding: 0px 0px 0px 0px;
}


.menucontainer li{
    list-style: none;
    padding: 15px 0px 15px 15px;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    /* border-top: 3px solid rgba(255, 255, 255, .1); */
}
li a i{
    margin-right: 10px;
}
.menucontainer li:hover {
    background-color: #88b4ba;
}
.menucontainer li a:hover{
    color: white;
    text-decoration: none;
}


