.back{
    background-color:  #ecf0f5;
    padding-left:0px;
 }
 .title{
    margin-top: 10px;
    margin-left: 25px;
    color: #144358;
    font-size:21px;
     font-weight: bold;
     padding-top: 1%;
     padding-bottom: 1%;
 }