.main { width: 50%;
    margin: 50px auto;}

.has-search .form-control {    
    padding-left: 2.375rem;
    margin-left: 15rem;
    padding-right: 10rem;
    position: relative;
}
 
.has-search .form-control-feedback {
     margin-left: 15rem;
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
   color: #aaa;
   
   
}
.indexs{
    z-index: 10;
}