.wrapper{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #f6f7f9;
    border-radius: 5px;
    border-right: 3px solid rgba(20,20,31,.05);
    z-index: -1px;
}
#sidebarCollapse{
    /* position: absolute; */
    top: .5rem;
    right: 1.3rem;
}
#sidebar{
    height: inherit;
    margin: 10px;
    text-align: left;
}
#sidebar ul li a{
    margin-left: .5rem;
    color: black;
    font-size: .875rem;
    line-height: 1.25rem;
}
#sidebar .list-item{
    margin: 2rem 0;
    font-size: 15px;
    font-weight: 600;
}
#sidebar li a{
    text-decoration: none;
    padding-left: .5rem;
}
.icon-color{
    color: #738a9b;
}
.btn-custom{
    background-color: #c4b9b9;
    border-radius: 50%;
    color: #215cad;
    font-weight: 600;
}
.sidebar-header{
    margin-top: 4rem;
    text-align: center;
    color: #e9e9ea;
}
.usr-image{
  border: 2px solid white;
}
.collapse{
  display: none;
}
#sidebar.active .sidebar-header h3 {
  display: none;
}
#sidebar ul li a {
  text-align: left;
}
#sidebar.active ul li a {
  display: none;
}
#sidebar.active ul li i {
  display: block;
}
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
.hidden{
  display: none;
}

@media (max-width: 768px) {
  #sidebar.active {
    width: 50px;
    text-align: center;
    margin: 0;
  }
  #sidebar {
    margin: 1rem;
  }
  #sidebarCollapse{
    right: .5rem;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}