.bgColor{
    background-color:  #346cb0;
}

.sidebarCollapse{
    /* position: absolute; */
    top: .5rem;
    right: 1.3rem;
    /* opacity:0.1; */
    color: white;
}

.headerContainer {
    /* padding-left: 0px; */
}
.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main { width: 50%;
    margin: 50px auto;}

.has-search .form-control {    padding-left: 2.375rem;
}
 
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
   color: #aaa;
}