.notification-container {
  position: absolute;
  right : 12rem;
  display: flex; /* Added to align elements within the button */
  /* align-items: center;  */
  }
   
  .notification-button {
    /* Style for the notification bell button */
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    display: flex; /* Added to align elements within the button */
    align-items: center; /* Added to vertically align elements */
  }
  
  .notification-button .fa-regular { /* Moved to the left */
    margin-right: 10px; /* Ensure no extra margin on the left */
  }

  .notification-button .icon-wrapper-bg {
    /* Style for the red dot behind the bell icon */
    position: absolute;
    top: 10px;
    /* left: 5px; */
    right: -145px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f00; /* Adjust color as needed */
    margin-top: 10px;
    margin-right:150px;
  }
  .icon-wrapper-bg bg-danger
   
  .count {
    /* Style for the unread count badge */
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    color: #000;
  }
   
  .notification-panel {
    
    margin: 0px 0px;
    color: #090e13;
    font-size: 12px;
    /* Style for the notification panel */
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px 90px;
    box-shadow: 0 2px 5px rgba(16, 16, 16, 0.1);
    z-index: 30; /* Ensure it appears above other content */
  }

  .notification {
    padding: opx 50px;
   /* box-shadow: 0 2px 5px rgba(16, 16, 16, 0.1);*/
    /*z-index: 10;*/
    text-align: 5px;
  } 
  

  .badge {
    /* Style for the unread count badge */
    position: absolute;
    top: -5px;
    /* left: 10px;  */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    color: #000;
  }

  .notification-button i.fa-regular { /*red*/
    font-size: 30px;
    margin-right:-1px;
    margin-top: 20px;
  }
  
  .notification-button i.fa-lg {
    
    font-size: 30px;
    
  }