.inputField {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    outline: none;
}

.btnfilter {
    margin-left: 2%;
    border-color: #9abbca;
    color: #144358;

}

.boxtitle {
    font-size: large;
    font-weight:560;
    color: #144358;
    margin-left: 5%;
}

