.ant-table {
  width: calc(100vw - 350px) !important;
}

.ant-tag {
  cursor: pointer;
}

.ant-form-item-control-input-content {
  border-radius: 0px !important;
}

.css-dev-only-do-not-override-yp8pcc {
  border-radius: 0px !important;
}
