.background-color-white {
  background-color: #ffffff;
}

.background-color-blue {
  background-color: #5932ea;
}

.background-color-grey {
  background-color: #9197b3;
}

.background-color-body {
  background-color: #fafbff;
}

.color-white {
  color: #ffffff;
}

.color-blue {
  color: #5932ea;
}

.color-grey {
  color: #9197b3 !important;
}

.color-light-grey {
  color: #acacac;
}

.color-body {
  color: #fafbff;
}
