.login-btn {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-card-body{
    margin-top: 20px;
    margin-bottom: 60px;
}
.login-bg-body{
    padding-left: 180px;
    width: 1000px;
}