  .user-dropdown {
      background: #fff;
      box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
      transition: all linear 0.3s;
      margin-left: 1150px;
      padding: auto;
      padding-left: 44px;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .user-dropdonw:hover {
      background: #fff;
      box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
      transition: all linear 0.3s;
      margin-left: 1200px;
      padding: auto;
  }