.login-btn {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-card-body{
    margin-top: 20px;
    margin-bottom: 60px;
}

.center-form{
    width: 60%;
    margin: 0 auto;
}