.table {
    border: 1px solid #aaa;
    border-radius: 5px;
    clear: both;
    margin-bottom: 20px;
}
.table .table-utility {
    background: none repeat scroll 0 0 transparent;
    padding: 16px 26px;
    clear: both;
}
.dropdown {
    display: inline;
    position: relative;
    text-align: left;
}
.editor.question, .wysiwyg {
    width: 640px;
    color: #444;
}
.table .row {
    border-bottom: 1px solid #ddd;
    padding: 20px 26px 16px;
    position: relative;
    clear: both;
   
}
.a {
    color: #fb330d;
    cursor: pointer;
    text-decoration: none;
}
.row.test-question{
    background: none repeat scroll 0 0 #f9fafb;
    position: relative;
}

.col-span-2 {
    width: 20%;
    
}

.no-top-border-left-radius {
    border-top-left-radius: 0;
    width: 10%;
}
.table {
    border: 1px solid #aaa;
    border-radius: 5px;
    clear: both;
    margin-bottom: 20px;
    
}
.row:after {
    content: "";
    display: table;
}