.gap{
    
    padding-bottom: 5px;
}

.InputField {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    outline: none;
}

.label{
    margin-left: 20px;
}