.instruction{
    text-align: left;
}
.submitClose{
    margin-left: 80%;
    width: 150px;
    margin-top:0%;
}
.associateName{
    margin-left: 60%;
}
.carddata:hover{
    background-color: rgb(203, 203, 181);
}
.heading{
    display:flex;
    margin-top: 15px;
}