@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";
.sidebar {
   
    .item{
        
        display: flex;
        flex-direction: column;
        gap:10px;
        margin-bottom: 20px;
        margin-top: 20px;
 
        button{
            border: 0;
            background-color: white;
        }
 
        ul{
        display: flex;
        flex-direction: column;
        gap:5px;
        align-items: center;
        padding: 5px;
        padding-left: 54px;
        font-size: small;
        border-radius: 5px;
        align-items: center;
        color: #343a40;
        
       
           li{
            width: 100%;
            height: 30px;
            padding: 5px;
            border-radius: 5px;
            &:hover{
                background-color: #E0FEFF;
                color: #3f6ad8;
                font-weight: bold;
            }
 
           
           }
         
        }
 
 
     
        .listItem{
            display: flex;
            gap:10px;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
 
            &:hover{
                background-color: #E0FEFF;
            }
            
          .listItemTitle{
 
            @include md{
                display: none;
               
            }
        }
        }
    }
}
 