
body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    overflow: hidden;
    background: rgba(203, 203, 210, .15);
}
li {
    list-style: none;
}

.xyz {
    display: flex;
    height: 100px;
    width: 100px;
}
.p {
    text-decoration:double;
}
.header .navbar-nav {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-end; */
    padding: 0 1rem;
    background-color:#58a096;
    z-index: var(--z-fixed);
    transition: .5s
}
.header_toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: -0.7em;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(15, 12, 12, 0.2);
  }
  .div.cards {
    max-height: 50%;
    max-width: 40%;
    margin-left: 20%;
    margin-right: 50%;
    height: 5cm;
    width: 10cm;
    box-shadow: 0 4px 8px 0 rgba(202, 196, 196, 0.2);
    transition: 0.3s;
  }
  .card {
    max-height: 30%;
    max-width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.938);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */

  }
  .foot{
    text-align:center;
  }
  .-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}
.offcanvas-body, .offcanvas-offcanvas-start
.nav-item, .offcanvasNavbarLabel {
    
    background-color: #58a096;
    display: grid;
    align-items:flex-start;
    column-gap: 5rem;
    padding: .5rem 0 .5rem 1.5rem;
}
.nav {
    margin-bottom: 2rem
}
.FaLink, .FaCode .FaNewspaper, .FaSignOutAlt, .FaSlidersH, .FaSlack{
    font-size: 1.25rem;
    color: var(--white-color)
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}
.nav_link {
    position: relative;
    color: var(--white-color);
    margin-bottom: 1.5rem;
    transition: .3s
}
.nav_link:hover {
    color: var(--first-color-light)
}
.offcanvas-title {
    font-size: 1.25rem
}
.btn {
align-self: center;
}
.span{
    color: royalblue;
}

.header {
    width: 100%;
    height:50%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-end; */
    padding: 0 1rem;
    background-color:#58a096;
    z-index: var(--z-fixed);
    transition: .5s
}
.navbar bg-body-tertiary fixed-top {
    
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: -0.7em;
}
.header_img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}
.header_img img {
    width: 30px;
}
.Tfimenu {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}
.nav_logo {
    margin-bottom: 2rem
}
.fa,
.fab {
    font-size: 1.25rem;
    color: var(--white-color)
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}
.nav_link {
    position: relative;
    color: var(--white-color);
    margin-bottom: 1.5rem;
    transition: .3s
}
.nav_link:hover {
    color: var(--first-color-light)
}
.nav_icon {
    font-size: 1.25rem
}
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1.5rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 1rem)
    }
    .header {
        height: calc(var(--header-height) + 0.5rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
    .header_img {
        margin-top: 0.2em;
        width: 30px;
        height: 30px
    }
    .header_img img {
        width: 30px
    }
    .l-navbar {
        left: 0;
       padding: 1rem 1rem 0 0
    }
    .show {
        width: calc(var(--nav-width) + 156px)
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}
.completed {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1%;
}
.pending {
    height: 15px;
    width: 15px;
    background-color: #ADD8E6;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1%;
}
.inprogress {
    height: 15px;
    width: 15px;
    background-color: Grey;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1%;
}
.useTool:hover {
    color: var(--first-color-light);
}

.card {
/* Add shadows to create the "card" effect */
padding-top: 3px;
padding-bottom: 3px;
margin:50px;
height: 5cm;
width: 10cm;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.9s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */

#btn {
border: none; /* Remove borders */
color: white; /* Add a text color */
padding: 14px 28px; /* Add some padding */
cursor: pointer; /* Add a pointer cursor on mouse-over */
}
