.table-container {
  display: contents;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
}

.table th,
.table td {
  border: 2px solid #cfcfcf;
  padding: 0.5rem;
  text-align: left;
}

.table thead th {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

.table tbody tr:nth-child(odd) {
  transition: background-color 0.3s ease-in-out, color 0.2s ease-out;
  background-color: #ffffff;
}

.table tbody tr:hover {
  background-color: rgb(230, 230, 230);
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.page-button {
  border: 0.75px solid rgb(182, 182, 182);
  padding: 10px 12px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.page-button:hover {
  background-color: #f0f0f0;
}

.page-button:disabled {
  cursor: not-allowed;
}

.page-button.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.show-entries,
.list-search {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 0;
}

.list-search-btn {
  border: 1px solid #ccc !important;
  padding: 6px 15px;
  position: relative;
  border-radius: 5px;
}

.list-search-btn:focus,
.list-search-btn:active {
  outline: none;
  border-color: rgb(19, 19, 207);
}

.list-search-btn {
  border: 1px solid #ccc !important;
  padding: 6px 15px 6px 15px;
  position: relative;
  border-radius: 5px;
}

.search-icon {
  position: absolute;
  top: 20%;
  right: 55px;
  transhtmlform: translateY(0%);
  color: white;
  background-color: #bcbcbc;
  border-radius: 5%;
  padding: 11px;
  font-size: 16px;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.custom-select {
  width: 150px;
  margin-left: 0px;
}

.custom-select select {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: calc(100% - 10px) center;
}

.action-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-icon {
  font-weight: bold;
  font-weight: 700;
  margin: 0;
  font-size: 14px;
}

.action-icon:hover {
  color: #3f6ad8;
}

.action-divider {
  font-weight: bold;
  margin: 0 0px;
}

.horizontal-line {
  border-top: 3px solid #e6e6e6;
  margin-top: 30px;
  margin-bottom: 30px;
}
