.custom-text-center {
    text-align: center;
}

.users-list {
    max-width: 60%;
    min-width: 40%;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;
}
  
.assign-button{
    float: right;
}

.custom-text-left {
    text-align: left;
}