/* .form{
    display:grid;
    justify-content: center;    
} */

.field{
    padding: 12px 20px;
    margin: 5px 0;
    
}
.inputField {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    outline: none;   
}

.btn{
    display: flex;
    margin-left: 60%;
}