

.InputField {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    outline: none;
    
}

.label{
    margin-left: 20px;
}

.textArea{
    
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20), inset 0px 2px 2px rgba(0, 0, 0, 0.20);
        display: inline-block;
        border-radius: 15px;
        padding: 6px;
        outline: none;
        margin-right: 3%;
        margin-left: 5%;
        width: 75%;
}

.boxtitle {
    font-size: x-large;
    font-weight: 550;
    color: #144358;
    margin-left: 5%;
}

.btnSave {

    margin-left: 2%;
    border-color: #9abbca;
    color: #144358;

}
.btn{
    display: flex;
    margin-left: 60%;
}