.questionForm{
    display: flex;
    flex-direction: column;
    width:"100%";
}

.add_button {
    background-color: #144358;
    color: white;
    width:50%;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    margin-left: 20px;
}

.delete_button {
    background-color: #144358;
    width:40%;
    color: white;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    margin-left: 20px;
}
.submit_btn{
    width: 8%;
    align-self: center;
    height:40px;
    background-color: #144358;
    color: white;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    margin-left: 20px;
    
}

.input_question{
    width: 100%;
    margin-top:10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20), inset 0px 2px 2px rgba(0, 0, 0, 0.20);
}
.input_answer{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20), inset 0px 2px 2px rgba(0, 0, 0, 0.20);
}