.btn{
    border-radius: 3px;
    border: none;
    background-color: #0c66e4;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
   

}