.btn{
    border-radius: 3px;
    border: none;
    background-color: initial;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--ds-text,#172b4d);
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;

}
