.header {
  margin-top: -38px;
  margin-left: 848px;
  float: right;
}
.addnewUnit {
  margin-left: 448px;
  margin-top: -35px;
}
.unit {
  padding-top: 0;
}
.addunitbutton {
  border: none;
  border-radius: 3px;
  background-color: #fff;
  float: right;
  margin-right: -30px;
}
