
.main-div{
    width: 600px;
    align-content: start;
    align-Content: 'inline'; 
    margin-left:5%;

}
#exampleFile{
    border: 1px solid #A8A29E;
    margin-left: 10px;
    margin-right: 24px;
}
.col-sm-2{
    font-weight: 600;
    font-size: 15px;
}

.horizontal-line{
    width: 130%;
    
    margin-top: 7px;
}
.line{
    width: 130%;
    
    margin-top: 7px;
}

.btn{

    margin-right: -185px
    
    

}
.btn{
   
    margin-bottom: 6px;
   
}
.btn{
    border-radius: 3px;
    border: none;
    /* background-color: #0c66e4; */
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
   

}
